## 유튜브 인기동영상 데이터

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

### 1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라(날짜 기준, 중복 포함)

In [9]:
df.groupby('channelTitle').count().sort_values(by='title',ascending=False).head(10)

,title,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
channelTitle,,,,,,,,
짤툰,372,372,372,372,372,372,372,372
파뿌리,318,318,318,318,318,318,318,318
SPOTV,318,318,318,318,318,318,318,318
런닝맨 - 스브스 공식 채널,313,313,313,313,313,313,313,313
엠뚜루마뚜루 : MBC 공식 종합 채널,293,293,293,293,293,293,293,293
장삐쭈,283,283,283,283,283,283,283,283
BANGTANTV,275,275,275,275,275,275,275,275
채널 십오야,274,274,274,274,274,274,274,274
이과장,258,258,258,258,258,258,258,258
총몇명,255,255,255,255,255,255,255,255

### 2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes 수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [10]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [13]:
df[df['likes'] < df['dislikes']].channelTitle.unique()

array(['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang',
       '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈',
       '나혼자산다 STUDIO', 'Gen.G esports'], dtype=object)

### 3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라. V

In [39]:
# 풀이

changed = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
changed = changed[changed > 1]
len(changed)

71

### 4. 일요일에 인기 있었던 영상들 중 가장 많은 영상 종류(categoryId)는 무엇인가? V

In [3]:
df.trending_date2 = pd.to_datetime(df.trending_date2)

In [4]:
df.trending_date2.dt.weekday  # 요일 숫자로 변환

0        4
1        4
2        4
3        4
4        4
        ..
60394    1
60395    1
60396    1
60397    1
60398    1
Name: trending_date2, Length: 60399, dtype: int64

In [5]:
df['trending_day'] = df.trending_date2.dt.day_name() # 요일 변환

In [78]:
df[df.trending_day == 'Sunday'].categoryId.value_counts().sort_values(ascending=False)

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

### 5. 각 요일별 인기 영상들의 categoryId는 각각 몇 개 씩인지 하나의 데이터프레임으로 표현하라 V

In [16]:
num_5 = df.groupby(['trending_day','categoryId'],as_index=False).size()
num_5

    trending_day  categoryId  size
0         Friday           1   243
1         Friday           2   120
2         Friday          10   833
3         Friday          15   187
4         Friday          17   633
..           ...         ...   ...
100    Wednesday          25   468
101    Wednesday          26   385
102    Wednesday          27   212
103    Wednesday          28   165
104    Wednesday          29    12

[105 rows x 3 columns]

In [17]:
# 데이터프레임 형태 변경

num_5.pivot(index='categoryId', columns='trending_day')

               size
trending_day Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1               243    263      255    274      246     257       234
2               120    105      119     99      128     119       129
10              833    837      776    830      890     894       917
15              187    215      198    217      207     208       207
17              633    668      592    636      682     708       706
19               90     92       87     91       92      89        85
20              283    298      296    289      282     285       291
22             1288   1373     1289   1337     1341    1375      1333
23              568    594      570    556      560     569       566
24             2976   3148     3066   3096     2954    3084      3090
25              444    453      422    437      470     452       468
26              369    378      364    363      375     394       385
27              183    205      183    199      194     194       212
28              171    160      173    167      166     161       165
29               12     10       10      9       13      11        12

### 6. 댓글의 수(comment_count)로 영상 반응에 대한 판단을 할 수 있다. viewcount 대비 댓글 수가 가장 높은 영상을 확인하라. ( view_count 값이 0인 경우는 제외한다.)

In [45]:
num_6 = df[df.view_count != 0]
num_6['commentperview'] = num_6['comment_count'] / num_6['view_count']

/var/folders/fd/1n9xc_8d2d51bf04p61cdylw0000gn/T/ipykernel_96328/2755703423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_6['commentperview'] = num_6['comment_count'] / num_6['view_count']

In [49]:
num_6.sort_values(by='commentperview', ascending=False).head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,trending_day,commentperview
50830,"60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)",팩토리,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,Thursday,0.161516

### 7. 댓글의 수(comment_count)로 영상 반응에 대한 판단을 할 수 있다. viewcount 대비 댓글 수가 가장 낮은 영상을 확인하라. ( view_counts, ratio 값이 0인 경우는 제외한다.)

In [59]:
num_7 = num_6[num_6['commentperview'] != 0]
num_7.sort_values(by='commentperview').head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,trending_day,commentperview
46005,Join the BTS #PermissiontoDance Challenge only...,YouTube,27,46458563,0,0,1,UCBR8-60-B28hp2BmDPdntcQ,2021-08-09,Monday,2.152456e-08

### 8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인 경우는 제외한다)

In [62]:
num_8 = df.copy()
num_8 = num_8[(num_8['likes'] != 0) & (num_8['dislikes'] != 0)]

In [64]:
num_8['dislikeperlike'] = num_8['dislikes'] / num_8['likes']
num_8.sort_values(by='dislikeperlike').head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,trending_day,dislikeperlike
11477,[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가...,CosmopolitanKorea,26,122354,19104,10,851,UCVWr5QkOkYupX6fEELMNvuQ,2021-02-27,Saturday,0.000523

### 9. 가장 많은 트렌드 영상을 제작한 채널의 이름은 무엇인가(날짜 기준, 중복 포함)

In [53]:
df.groupby('channelTitle').size().sort_values(ascending=False)

channelTitle
짤툰                          372
파뿌리                         318
SPOTV                       318
런닝맨 - 스브스 공식 채널             313
엠뚜루마뚜루 : MBC 공식 종합 채널       293
                           ...
혜성 MoonBrand                  1
KBS 다큐 [KBS Documentary]      1
DRX                           1
INSSAOPPA G [인싸오빠]            1
공원생활 / ParkLife               1
Length: 1832, dtype: int64

### 10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [71]:
num_10 = df[['title', 'trending_date2']].groupby('title', as_index=False).size()

In [74]:
len(num_10[num_10['size'] >= 20])

41

## 유튜브 공범 컨텐츠 동영상 데이터

In [1]:
import pandas as pd

# 참가자 채널 정보
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
# 비디오 정보
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

In [2]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [3]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### 1. 각 데이터의 'ct'컬럼을 시간으로 인식할 수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value마다 몇 개의 데이터씩 가지고 있는지 확인하라

In [4]:
channel['ct'] = pd.to_datetime(channel.ct)
video['ct'] = pd.to_datetime(video.ct)

In [5]:
video.videoname.value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

### 2. 수집된 각 video의 가장 최신화된 날짜의 viewcount값을 출력하라 V

In [6]:
num_2 = video.sort_values(['videoname','ct'])
num_2

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [7]:
num_2 = num_2.drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']]
num_2

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

In [8]:
num_2.reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

### 3. Channel 데이터 중 2021-10-03일 이후 각 채널의 처음 기록되었던 구독자 수(subcnt)를 출력하라 V

In [9]:
num_3 = channel[channel.ct > pd.to_datetime('2021-10-03')]

In [10]:
num_3 = num_3.sort_values(['ct','channelname']).drop_duplicates('channelname')
num_3

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,논리왕 전기
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,야전삽짱재
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,츄정ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,김농밀의 농밀한 삶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,릴펄 Lilpearl
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,와글와글 WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,조나단
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,형사!탐정되다
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,곽토리 kwak tori
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹

In [11]:
num_3[['channelname','subcnt']].reset_index(drop=True)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

### 4. 각 채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00까지 구독자수(subcnt)의 증가량을 구하여라

In [12]:
before = channel[channel.ct >= pd.to_datetime('2021-10-03 03:00:00')].sort_values(['ct','channelname']).drop_duplicates('channelname')[['channelname','subcnt']]
before

          channelname   subcnt
393            논리왕 전기   922000
139             야전삽짱재   257000
266        츄정ChuJeong   322000
901        김농밀의 농밀한 삶     7520
1028      릴펄 Lilpearl    10100
520   와글와글 WagleWagle    55000
647               조나단   215000
774           형사!탐정되다    14900
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000
12                꽈뚜룹  1330000

In [13]:
after = channel[channel.ct <= pd.to_datetime('2021-11-01 15:00:00')].sort_values(['ct','channelname']).drop_duplicates('channelname', keep='last')[['channelname','subcnt']]
after

          channelname   subcnt
256             야전삽짱재   268000
1018       김농밀의 농밀한 삶     9060
510            논리왕 전기   911000
637   와글와글 WagleWagle    55000
764               조나단   227000
383        츄정ChuJeong   323000
891           형사!탐정되다    25200
1393    Balming Tiger    56800
1272    곽토리 kwak tori   469000
1145      릴펄 Lilpearl    21100
129               꽈뚜룹  1400000

In [14]:
num_4 = pd.merge(before, after, on='channelname')
num_4['del'] = num_4['subcnt_y'] - num_4['subcnt_x']
num_4 = num_4.drop(['subcnt_x','subcnt_y'],axis=1)
num_4

        channelname    del
0            논리왕 전기 -11000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3        김농밀의 농밀한 삶   1540
4       릴펄 Lilpearl  11000
5   와글와글 WagleWagle      0
6               조나단  12000
7           형사!탐정되다  10300
8     Balming Tiger   2500
9     곽토리 kwak tori  -2000
10              꽈뚜룹  70000

### 5. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된 것으로 알려졌다. 공범 EP1의 비디오정보 데이터 중 수집간격이 5분 이하, 20분 이상인 데이터 구간(해당 시점 전, 후)의 시각을 모두 출력하라. V 안할래..

In [57]:
import datetime as dt

num_5 = video[video.videoname == ' 공범 EP1'].sort_values('ct').reset_index()
lst = list()
for i in range(len(num_5)):
    time = video.loc[i+1,'ct'] - video.loc[i,'ct']
    if (time <= dt.timedelta(minutes=5)) or (time >= dt.timedelta(minutes=20)):
        lst.append(i)
        lst.append(i+1)

video.loc[lst,:]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
9,c5JQp6xafqc,1697079,30724,717,0,6621,2021-10-10 16:50:03,공범 EP1
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
417,c5JQp6xafqc,1663790,30454,703,0,6581,2021-10-10 15:10:03,공범 EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,공범 EP1
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1
3492,23QQ1ru9YQg,826016,15871,354,0,6480,2021-10-10 16:10:03,공범 EP2

In [59]:
# 풀이

ep_one = video[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[(ep_one.ct.diff(1) >= dt.timedelta(minutes=20)) | (ep_one.ct.diff(1) <= dt.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [61]:
ep_one.loc[(720,721,722,723,1635,1636,1637),:]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### 6. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터프레임으로 만들고 출력하라

In [91]:
num_6 = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname')[['ct','videoname']]
num_6['date'] = num_6.ct.dt.date
num_6[['date','videoname']]

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

### 7. '공범' 컨텐츠의 경우 19:00시에 공개 되는 것으로 알려져 있다. 공개된 날의 21시의 viewcnt, ct, videoname으로 구성된 데이터프레임을 내림차순으로 정렬하여 출력하라.

In [104]:
num_7 = video.sort_values(['videoname','ct'])
num_7 = num_7[num_7.ct.dt.hour==21].drop_duplicates('videoname').sort_values('viewcnt',ascending=False).reset_index(drop=True)
num_7[['videoname','viewcnt','ct']]

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

### 8. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터프레임을 ratio의 오름차순으로 정렬하라.

In [111]:
num_8 = video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep='last')
num_8['ratio'] = num_8.dislikecnt / num_8.likecnt
num_8 = num_8.sort_values('ratio').reset_index(drop=True)
num_8[['videoname','ratio']]

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

### 9. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터프레임으로 만드시오.

In [124]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')
num_9 = video[(video.ct >= start) & (video.ct <= end)].sort_values(['videoname','ct'])

start_df = num_9.drop_duplicates('videoname').reset_index(drop=True)[['videoname','viewcnt']]
end_df = num_9.drop_duplicates('videoname',keep='last').reset_index(drop=True)[['videoname','viewcnt']]

num_9 = start_df.merge(end_df,on='videoname')
num_9['viewcnt'] = num_9.viewcnt_y - num_9.viewcnt_x
num_9[['videoname','viewcnt']]

  videoname  viewcnt
0    공범 EP1    13298
1    공범 EP2    10300
2    공범 EP3     9927
3    공범 EP4     9824
4    공범 EP5    10824
5    공범 EP6    14141
6    공범 EP7    26949
7    공범 EP8    89147

### 10. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname을 구하여라. V

In [127]:
video.loc[list(set(video.index) - set(video.drop_duplicates().index)),:][['videoname','ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37